workflow.json
{
  "name": "Suivi Prospects Immobilier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "immobilier",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        0
      ],
      "id": "deddbdb9-b8b3-4875-b179-0cdbcb8daaf2",
      "name": "Webhook",
      "webhookId": "ed568a6f-34b0-4697-bb45-5b4430f162f8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "540a83cc-1854-4983-b6f9-1bce8f9b3cd8",
              "name": "client",
              "value": "={{ $json.body.client }}",
              "type": "string"
            },
            {
              "id": "2ba9c5b3-65d0-4286-937a-92abe6082fae",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "4ec0f45e-f670-4ede-9251-a745066704f9",
              "name": "telephone",
              "value": "={{ $json.body.telephone }}",
              "type": "string"
            },
            {
              "id": "07202f14-25f5-4203-b4be-468866fd6a7f",
              "name": "budget",
              "value": "={{ $json.body.budget }}",
              "type": "string"
            },
            {
              "id": "7201d32d-bdcf-4292-a4e6-186d6358636f",
              "name": "zone",
              "value": "={{ $json.body.zone }}",
              "type": "string"
            },
            {
              "id": "fefd2401-357a-4f82-b516-439525ef78f4",
              "name": "date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -48
      ],
      "id": "283ba86b-64f5-4b38-8926-25fd6aa96e71",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J4AfsSk6_I1SPCxJvRWaeftRW3xfKT-FIN3DpK90lGg",
          "mode": "list",
          "cachedResultName": "n8n projets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J4AfsSk6_I1SPCxJvRWaeftRW3xfKT-FIN3DpK90lGg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 550498343,
          "mode": "list",
          "cachedResultName": "Leads Immobilier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J4AfsSk6_I1SPCxJvRWaeftRW3xfKT-FIN3DpK90lGg/edit#gid=550498343"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "client": "={{ $json.client }}",
            "telephone": "={{ $json.telephone }}",
            "email": "={{ $json.email }}",
            "zone": "={{ $json.zone }}",
            "budget": "={{ $json.budget }}",
            "statut": "Nouveau"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telephone",
              "displayName": "telephone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zone",
              "displayName": "zone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "statut",
              "displayName": "statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -48
      ],
      "id": "28050abe-a269-4e04-b8c7-6f2d74faeba9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j3wHimjYrX3HoH6S",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "15b1c964-5e38-4435-baee-fba2a22f24c6",
              "leftValue": "={{ $json.budget }}",
              "rightValue": 500000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -48
      ],
      "id": "f6b9622b-e0ba-4398-a114-b632c1223201",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J4AfsSk6_I1SPCxJvRWaeftRW3xfKT-FIN3DpK90lGg",
          "mode": "list",
          "cachedResultName": "n8n projets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J4AfsSk6_I1SPCxJvRWaeftRW3xfKT-FIN3DpK90lGg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1143689562,
          "mode": "list",
          "cachedResultName": "Agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J4AfsSk6_I1SPCxJvRWaeftRW3xfKT-FIN3DpK90lGg/edit#gid=1143689562"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "zone",
              "lookupValue": "={{ $('Edit Fields').item.json.zone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -160
      ],
      "id": "0c9baf87-feec-453f-932b-316c2f3138a4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j3wHimjYrX3HoH6S",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5186657264",
        "text": "=🔥 LEAD VIP ! Client : {{ $('Edit Fields').item.json.client }} Budget : {{ $('Edit Fields').item.json.budget }} DH Zone : {{ $('Edit Fields').item.json.zone }} Tél : {{ $('Edit Fields').item.json.telephone }} ⚡ Rappeler MAINTENANT !",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -160
      ],
      "id": "0ca2c92d-f7ae-41b5-890a-e903502911d8",
      "name": "Send a text message",
      "webhookId": "0b09964e-c883-4677-8821-b252f13cb54d",
      "credentials": {
        "telegramApi": {
          "id": "ieP01E2ksZOfP9WZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5186657264",
        "text": "=📋 Nouveau lead Client : {{ $('Edit Fields').item.json.client }} Budget : {{ $('Edit Fields').item.json.budget }} DH Zone : {{ $('Edit Fields').item.json.zone }} Tél : {{ $('Edit Fields').item.json.telephone }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        48
      ],
      "id": "9f510d1d-39c4-42f0-82a6-6825a34f950d",
      "name": "Send a text message1",
      "webhookId": "791057f8-21d2-47e1-94a3-e5a1f527de83",
      "credentials": {
        "telegramApi": {
          "id": "ieP01E2ksZOfP9WZ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "639825aa-c230-454b-8fe1-87473cb1236c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8254975fa9435c6ac988d206ba09626b706a53488574c99dc5ebdf46dc0b7f0"
  },
  "id": "UtXHI9iOBmjpOJlv",
  "tags": []
}